.inquiry {
    height: 380px !important;
    
    .inquiry-card {
      height: 50% !important;
    }
    
    .inquiry-scrollbar {
      overflow-y: scroll;
      
      &::-webkit-scrollbar {
        width: 7px;
        height: 1px !important;
      }
      
      &::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 15px !important; 
      }
      
      &::-webkit-scrollbar-thumb {
        background: #742cdf;
        border-radius: 15px !important;
      }
      
      &::-webkit-scrollbar-thumb:hover {
        background: #742cdf;
      }
      
      cursor: pointer;
    }
  }
  