// Import Bootstrap's variables
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

// Override Bootstrap's variables
$pagination-focus-bg: "";
$pagination-focus-box-shadow: "";
$pagination-focus-outline: "";

// Import Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
